@model DishListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach(var dish in Model.Dishes){
        <div class="col">
            <div class="card dish-card">
                <img src="@dish.ImageThumbnailUrl" class="card-img-top" alt="@dish.Name">
                <div class="card-body dish-button">
                    <h4 class="d-grid">
                    </h4>

                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="dish-link">@dish.Name</a>
                        </h2>
                        <h5 class="text-nowrap">
                            @dish.Price.ToString("c")
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }